.table-genarate-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.table,
tbody {
  width: 100%;
  background: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}
.table-row td {
  width: 25%;
}

.textarea {
  width: 100%;
  display: none;
}

td,
th {
  padding: 10px 4px;
}

.ac-balance {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  margin: 0 42px;
}

.wrap {
  min-height: calc(100vh - 100px);
}

.table-section {
  padding: 0 0 60px 0;
  margin-top: 230px;
}

.footer-section {
  background: #536dfe;
}

.banner-content {
  background: #536dfe;
  height: 500px;
  position: relative;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner__title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
}
.banner__title--bold {
  font-size: 50px;
  color: #FCFCFC;
  font-weight: 900 !important;
  position: relative;
}
.banner__text {
  font-size: 22px;
  margin: 2px 0 20px 0;
}
.banner__btn {
  margin: 20px 0 70px 0;
}

.form-control-panel {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  min-height: 700px;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  padding: 30px 30px 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-content__item {
  margin: 15px;
  width: 48%;
}

.form {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  padding: 20px 10px;
}
.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 30px;
  margin: 0px 0;
}
.form__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px 30px 38px;
  width: 100%;
}
.form__item-btn div {
  margin: 0 6px;
}
.form__item input,
.form select {
  border: 2px solid #e0e0e0;
  padding: 6px 6px;
  width: 80%;
  height: 46px;
  border-radius: 3px;
}
.form__item label {
  padding: 14px 0px;
  width: 100%;
  border-radius: 3px;
}

.form-title {
  font-size: 22px;
  margin: 28px;
  text-align: center;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  height: 100px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.footer__img img {
  opacity: 0.6;
  width: 80%;
}
.footer__para {
  color: #ffffff;
  opacity: 0.8;
}

.button {
  padding: 14px 40px;
  margin: 20px 0;
  background: #536dfe;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.button:hover {
  background: #536dfe;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.btn_secoundary {
  background: #2196f3;
}

.btn_primary {
  background: #536dfe;
}

.btn_primary--copy {
  background: #536dfe;
  width: 224px;
}